body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

.filter-container {
    display: none;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    transition: top 0.3s;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensures the filter bar is above other content */
}

.filter-button {
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

.filter-button:hover {
    transform: scale(1.1);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Adjust based on the height of the filter bar */
}

.image-gallery img {
    width: 150px;
    height: 150px;
    margin: 10px;
    transition: transform 0.2s;
}

.image-gallery img:hover {
    transform: scale(1.1);
}
.random-image-container {
    text-align: center;
    display: none; /* Initially hidden */
    margin: 20px;
}

.random-image-container img {
    width: 300px;
    height: 300px;
    margin: 20px;
    transition: transform 0.2s;
}

.random-image-container img:hover {
    transform: scale(1.1);
}

#random-image-title {
    font-size: 30px;
    margin-top: 10px;
}